//- This is the header for all the pages. Make sure its called in all .pug files for them to work.
doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
    meta(name='description', content='')
    meta(name='author', content='')
    link(rel='icon', href='../../../../favicon.ico')
    title= title
    //-link(rel='stylesheet', href='/stylesheets/bootstrap.min.css')
    link(rel='stylesheet', href='/stylesheets/bootstrap/dist/css/bootstrap.min.css')
    link(rel='stylesheet', href='/stylesheets/style.css', type='text/css', media='all')
    link(rel="stylesheet", href="/stylesheets/font-awesome.min.css" integrity='sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ' crossorigin='anonymous')
    link(rel="stylesheet", href="/stylesheets/font-awesome.css")
  body
    #home
      .top_w3pvt_main.container
        header.nav_w3pvt.text-center
          nav.wthree-w3ls
            #logo
              h1
                a.navbar-brand.px-0.mx-0(href="/insurer") MudFam Insurance
            label.toggle(for="drop") Menu
            input#drop(type="checkbox")
            ul.menu.mr-auto
              li.active
                a(href="/") Home
              li
                a(href="/insurer/extensions/about") About
              if user
                li
                  label.toggle.toggle-4(for="drop-3") !{user.user_fname}
                    span.fa.fa-angle-down(aria-hidden="true")
                  a(href="#") !{user.user_fname}
                    span.fa.fa-angle-down(aria-hidden="true")  
                  input#drop-3(type="checkbox")
                  ul
                    li
                      a(href="/insurer/extensions/projects") Profile
                    li
                      a(href="/insurer/extensions/products") Edit
                    li
                      a(href='insurer/logging/logout') Logout
              li
                a(href="/insurer/extensions/products") Products 
              li
                a(href="/insurer/extensions/projects") Projects
              //-li
                label.toggle.toggle-2(for="drop-2") Market place
                  span.fa.fa-angle-down(aria-hidden="true")
                a(href="#") Market place
                  span.fa.fa-angle-down(aria-hidden="true")
                input#drop-2(type="checkbox")
                ul
                  li
                    a.drop-tex(href="/insurer/extensions/projects") Projects
                  li
                    a.drop-tex(href="/insurer/extensions/products") Products
              li
                a(href="/insurer/extensions/contactus") Contact Us
              if !user
                a.text-capitalize.mr-2.work.btn(href='/insurer/logging/login', class=(title == 'Get started to our page' ? 'active' : '')) Get Started
              if user
              li.social-icons.ml-lg-3
                a.p-0.social-icon(href='#')
                  span.fa.fa-facebook-official(aria-hidden="true")
                  .tooltip Facebook
              li.social-icons.ml-lg-3
                a.p-0.social-icon(href='#')
                  span.fa.fa-twitter(aria-hidden="true")
                  .tooltip Twitter
              li.social-icons.ml-lg-3
                a.p-0.social-icon(href='#')
                  span.fa.fa-instagram(aria-hidden="true")
                  .tooltip Instagram
        include ./layouts/notification
    block content
    include footer
    script.
      // Event listener
      addEventListener("load", function () {
        setTimeout(hideURLbar, 0);
      }, false);
      
      function hideURLbar() {
        window.scrollTo(0, 1);
      }

