extends ../layout

block content
  #home.inner-w3pvt-page
    .overlay-innerpage
      .top_w3pvt_main.container
    .row.top_w3pvt_main.container
      ol.breadcrumb.d-flex
        li.breadcrumb-item
          a(href="/") Home
        li.breadcrumb-item.active Login
  secton.about.py-5
    .container.p-md-5
      h3.tittle-w3ls.text-center The Team
      .row.mt-lg-5.mt-4
        .col-md-4.team-gd.text-center
          .team-img.mb-4
            a(href="#")
              img.img-fluid(src="/images/team1.jpg" alt="user-image")
          .team-info
            span.sub-tittle-team Programmes Manager
            h3
              a(href="#") Nacoolwe Mudimba
            p nacoolwe@live.com
            .icon-social.team.mt-4
              a.button-footr(href="#")
                span.fa.fa-facebook
              a.button-footr(href="#")
                span.fa.fa-twitter
              a.button-footr(href="#")
                span.fa.fa-pinterest
              a.button-footr(href="#")
                span.fa.fa-google-plus
              a.button-footr(href="#")
                span.fa.fa-linked-in
        .col-md-4.team-gd.text-center
          .team-img.mb-4
            a(href="#")
              img.img-fluid(src="/images/team2.jpg" alt="user-image")
          .team-info
            span.sub-tittle-team Finance officer 
            h3
              a(href="#") Mulumbe Chaliyanika 
            p mulchalie@gmail.com
            .icon-social.team.mt-4
              a.button-footr(href="#")
                span.fa.fa-facebook
              a.button-footr(href="#")
                span.fa.fa-twitter
              a.button-footr(href="#")
                span.fa.fa-pinterest
              a.button-footr(href="#")
                span.fa.fa-google-plus
              a.button-footr(href="#")
                span.fa.fa-linked-in
        .col-md-4.team-gd.text-center
          .team-img.mb-4
            a(href="#")
              img.img-fluid(src="/images/team3.jpg" alt="user-image")
          .team-info
            span.sub-tittle-team System Development Manager
            h3
              a(href="#") Mapenzi Mudimba
            p hazelman@live.coom
            .icon-social.team.mt-4
              a.button-footr(href="#")
                span.fa.fa-facebook
              a.button-footr(href="#")
                span.fa.fa-twitter
              a.button-footr(href="#")
                span.fa.fa-pinterest
              a.button-footr(href="#")
                span.fa.fa-google-plus
              a.button-footr(href="#")
                span.fa.fa-linked-in
  
  

