extends ../layout

block content
  #home.inner-w3pvt-page
    .overlay-innerpage
      .top_w3pvt_main.container
    .row.top_w3pvt_main.container
      ol.breadcrumb.d-flex
        li.breadcrumb-item
          a(href="/") Home
        li.breadcrumb-item.active Products
  section#projects.py-5
    .container.py-md-5
        ul.nav.item-tabs
          li.active
            a(data-toggle="tab" href="#menu1") Electrical and Mechanical
          li
            a(data-toggle="tab" href="#menu2") Vegetables and Fruits
          li
            a(data-toggle="tab" href="#menu3") Health and beauty
          li
            a(data-toggle="tab" href="#menu4") Home services
          li
            a(data-toggle="tab" href="#menu5") Real Estate
          li
            a(data-toggle="tab" href="#menu6") Hospitality
          li
            a(data-toggle="tab" href="#menu7") Jobs
          li
            a(data-toggle="tab" href="#menu8") Other items
        .tab-content
            each item in product_list
              #menu1.tab-pane.fade.active 
                if item.product_category
                  if item.product_category === 'e'
                    include prdts  
              #menu2.tab-pane.fade.active 
                if item.product_category
                  if item.product_category === 'b'
                    include prdts  
              #menu3.tab-pane.fade.active 
                if item.product_category
                  if item.product_category === 'v'
                    include prdts  
              #menu4.tab-pane.fade.active 
              #menu5.tab-pane.fade.active 
              #menu6.tab-pane.fade.active 
              #menu7.tab-pane.fade.active 
              #menu8.tab-pane.fade.active 
          
    //-  h3.tittle-w3ls.text-left.mb-5
        span.pink Stunning 
        | Products
      h4 Electrical
      .row.news-grids.mt-md-5.mt-4.text-center
        each item in product_list
          if item.product_category
            if item.product_category === 'e'
              include prdts
      script.
        if pages > 0
          ul.pagination.text-center
            if current_page == 1
              li.disabled First
            else
              li
                a(href="/insurer/extensions/productts/1") First
            - let i = (Number(current_page) > 5 ? Number(current_page) - 4:1)
              if (i !== 1)
                li.disbaled ...
              for i, page in (;i <= (Number(current_page) + 4) && i <= pages; i++)
                if j === current_page
                  li.active
                    a= j
                else
                  a(href=`/insurer/extensions/products/`+ i)
                    span= i
      h4 Health and beauty
      .row.news-grids.mt-md-5.mt-4.text-center
        each item in product_list
          if item.product_category
            if item.product_category === 'b'
              include prdts
      h4 Vegetables and Fruits
      .row.news-grids.mt-md-5.mt-4.text-center
        each item in product_list
          if item.product_category
            if item.product_category === 'v'
              include prdts
      h4 Home services
      .row.news-grids.mt-md-5.mt-4.text-center
        each item in product_list
          if item.product_category
            if item.product_category === 's'
              include prdts
      h4 Real Estate
      .row.news-grids.mt-md-5.mt-4.text-center
        each item in product_list
          if item.product_category
            if item.product_category === 'r'
              include prdts
      h4 Hospitality
      .row.news-grids.mt-md-5.mt-4.text-center
        each item in product_list
          if item.product_category
            if item.product_category === 'h'
              include prdts
      h4 Jobs
      .row.news-grids.mt-md-5.mt-4.text-center
        each item in product_list
          if item.product_category
            if item.product_category === 'j'
              include prdts
      h4 Other items
      .row.news-grids.mt-md-5.mt-4.text-center
        each item in product_list
          if item.product_category
            if item.product_category === 'o'
              include prdts
  include products_form
  //- Scripts for page load
  script.
    $(document).ready( function () {
      var Insurance = {
        init: function() {
          this.pageInit();
          this.bindEvent();
        },
        pageInit: function(){
          $('.item-cover').each(function(index, item) {
            if (item.src.split("http://localhost:4460/images/products/")[1].slice(0,4) === "http") {
              item.src = item.src.split("http://localhost:4460/images/products/")[1];
            }
          });
        },
        bindEvent: function(){
          var deleteBtn = ('.delete'),
            noDelete = $('#noDelete'),
            yesDelete = $('#yesDelete');
          $.each(deleteBtn, function(index, item) {
            $(item).on('click', function(event) {
              var itemId = $(this).closest('row').data(`${item._id}`);
              $('.popup').find('#deleteLink')[0].href = "/insurer/extensions/"+itemId+"/remove";
              $('.popup').modal('show');
            })  
          });
        }
      }
      Insurance.init();
      
    });